<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="\static\style.css">
</head>
<body>

<div class="Right">
    <form class="Form">
        <div class="Inputs">
            <input type="text" name="category" id="c">
            <input type="text" name="location" id="l">
        </div>
        <div class="submit">
            <button class="Form_Submit" type="submit" value="Fetch_Data">Fetch</button>
        </div>
    </form>
</div>

<div class="Left">

</div>

</body>
</html>