<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="\static\style.css">
</head>
<body>

<div class="page">
    <div class="Left">
        <div class="Form">
            <center>
                <form>

                    <div class="Inputs">
                        <input class="category" type="text" name="category" id="c">
                        <br>
                        <input class="location" type="text" name="location" id="l">
                    </div>

                    <div class="submit">
                        <input class="Form_Submit" type="submit" value="Run"></input>
                    </div>

                </form>
            </center>
        </div>
    </div>

    <div class="Right">

    </div>

</div>


</body>
</html>